/* Basic styling for document type website. */

html {
  background-color: #c4c3cd;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

body {
    margin: 3% 10%;
    padding: 70px;
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 1.2em;
}

address {
    color: gray;
    text-align: right;
}

/* Class definitions */

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
}

.table-row {
  display: flex;
  flex: 1;
  padding: 2%;
  gap: 1%;
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
  /*border: 2px solid #00ff00;*/
}

/*.table-item {
  border: 2px solid #0000ff;
}*/

/* nested in table-item */ .graphCol {
  flex-grow: 5;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
}
/* nested in table-item */ .graph {
  width: 70%;
  height: 300px;
  /*border: 2px solid #ff0000;*/
}

/* nested in table-item */ .label{
  flex-grow: 1;
  text-align: left;
  font-size: 90%;
  align-self: stretch;

  h2, p { margin: 2%; }
  h2 { 
    padding-bottom: 2%; 
  }
}
